body {
	margin: 0;
}

.spotippos {
	width: 1400px;
	height: 1000px;
	position: relative;
}

.provinces {
	display: table;
	width: 0;
	height: 0;
	position: absolute;
	z-index: 1;
	bottom: 50%;
	left: 50%;
	opacity: 0.8;
}

.provinces .name {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 36px;
	color: #613320;
}

#Gode {
	background-color: #ffc273;
}

#Ruja {
	background-color: #f19290;
}

#Jaby {
	background-color: #aaec80;
}

#Scavy {
	background-color: #88e0eb;
}

#Groola {
	background-color: #d9ace1;
}
#Nova {
	background-color: #fddc8c;
}
